<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>
<table>
  <tr>
    <th>タスク名</th>
    <td><%= @task.title %></td></tr>
  <tr>
    <th>説明</th>
    <td><%= @task.description %></td>
  </tr>
  <tr>
    <th>期日</th>
    <% if @task.target_at %>
      <%target_date = @task.target_at %>
      <td style='color:<%= is_deadline_over?(target_date) %>'><%= target_date.year %>/<%= target_date.month %>/<%= target_date.day %></td>
    <td><%=remaining_day?(target_date)%></td>
    <% end %>
  </tr>
  <tr>
    <th>達成度</th>
    <td><%= task_progress_calcu(@task) %>%</td>
  </tr>  
</table>
<p><%= link_to '編集', edit_task_path(@task) %></p>
<p><%= link_to '一覧に戻る', tasks_url %></p>
<h3>サブタスク一覧</h3>
<% @sub_tasks.each do |sub_task| %>
  <tr>
  <% if sub_task.completed %>
    <td></td>
  <% else %>
    <td></td>
  <% end %>
    <td><%= sub_task.id %></td>
    <td><%= sub_task.title %></td>
    <td><%= sub_task.description %></td>
   <td>
   <% if sub_task.completed %>
      <%= link_to '✅', done_back_task_sub_task_path(@task.id,sub_task), method: :post %>
    <% else %>
      <%= link_to '☑️', done_task_sub_task_path(@task.id,sub_task), method: :post %>
   <% end %>
    </td>
    <td>期日
      <% if sub_task.target_at %>
      <%target_date = sub_task.target_at %>
      <td style='color:<%= is_deadline_over?(target_date) %>'><%= target_date.year %>/<%= target_date.month %>/<%= target_date.day %></td>
    <td><%=remaining_day?(target_date)%></td>
    <% end %>
    </td>
    <td>獲得ポイント:3</td>
    <td><%= link_to '編集', edit_task_sub_task_path(@task.id,sub_task) %></td>
    <td><%= link_to '削除', task_sub_task_path(@task.id,sub_task), method: :delete, data: {confirm: "削除しますか？"} %></td>
  </tr>
  <% end %>

<div style="width: 300px;">
<p>サブタスクを作成する</p>

<%# resoucesでsub_taskをネストしたため、特殊な表記になる %>
  <%= form_for [@task,@sub_task]  do |f| %>
  <%# エラーメッセージの表示 %>
    <% if @sub_task.errors.any? %>
      <%= @sub_task.errors.count %>件のエラー
      <% @sub_task.errors.full_messages.each do |message| %>
        <%= message %> 
      <% end %>
    <% end %>
    <div>
    <%= f.label :title %>
    <%= f.text_field :title, size: 50 %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :期日%>
    <%= f.date_field :target_at %>
  </div>
    <%# サブタスクにタスクのidを与える %>
    <%= f.hidden_field :task_id, value: @task.id %>
    <%= f.submit '決定' %>
  <% end %>
</div>
