<h1>Admin#team_edit</h1>
<p>Find me in app/views/admin/team_edit.html.erb</p>
<%= form_for @team, url: "/admin/team/team_update/#{@team.id}", method: :post do |f| %>
  <div>
    <h4>id</h4>
    <p><%= @team.id %></p>
  </div>
  <div>
    <h4><%= f.label :team_total_point %></h4>
    <p><%= f.text_field :team_total_point %></p>
  </div>
  <div>
    <h4></h4>
    <p></p>
  </div>
  <div>
    <%= f.submit '変更' %>
  </div>
<% end %>