<div class="bg-white border rounded-5">
  <div class="w-100 p-4 pb-4">
    <h2 class="text-center">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control"%>
      </div>

      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" ,class: "form-control"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :ログインを維持する %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン" ,class: "btn btn-primary btn-block mt-3"%>
      </div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
