<div>
  <h3>チーム合計ポイント:<%=current_user_team_point_culc(current_user)%></h3>
  <h3>チーム順位:<%=team_rank_culc(current_user)%></h3>
  <p><%=link_to 'チーム順位を見る',"/team/team_rank"%></p>
  <%= link_to 'チームメンバーを確認する', "/team/#{current_user.team_id}/member" %>
</div>

<div class="p-3 w-200 row d-flex justify-content-center">
  <% @tasks.each do |task| %>
    <div class="card col-sm-3 mb-2 mx-2" style="width: 20rem;">
    <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title text-dark font-weight-bold"><%= task.title %></h5>
    </div>
    <h6 class="card-subtitle mb-2 text-muted"><%= task.target_at %>/<%=remaining_day?(task.target_at)%></h6>
    <div class="d-flex justify-content-between">
      <h6 class="card-subtitle text-muted mb-2"><%= task_progress_calcu(task) %></h6>
      <h6 class="card-subtitle text-muted mb-2">
        <%= who_is_this?(task.user_id) %>
      </h6>
      <span class="badge bg-danger"><%= task_point_culc(task) %></span>
    </div>
      <p class="card-text text-dark"><%= task.description %></p>
    </div>
    </div>
    
  <% end %>
</div>