<!DOCTYPE html>
<html>
  <head>
    <title>GraduateStudy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <!-- ▼ deviseのログインログアウトのコピペ -->
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'サインアップ', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
      
      <!-- ▼ ログインしてたら名前表示  -->
      <% if user_signed_in? %>
      username : <%= current_user.username %>さん
      <%= link_to 'タスクを追加', new_task_url %>
      <%= link_to 'タスク一覧', tasks_url %>
      <% end %>
      <!-- ▲ ログインしてたら名前表示 -->

    </nav>
    <!-- ▲ deviseのログインログアウトのコピペ -->

    <!-- ▼ deviseのrequirement -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- ▲ deviseのrequirement -->
    
    <%= yield %>
  </body>
</html>
